<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:form="http://www.w3.org/1999/xhtml">

<head th:replace="head.html"></head>

<body>

<div th:include="header.html"></div>

<main role="main" class="container" style="width: 40%;">

    <div class="card">
        <article class="card-body">

            <h4 class="card-title text-center mb-4 mt-1" th:text="#{changePassword.title}"/>
            <hr>
            <form class="form-group" th:action="@{/changePassword}" th:object="${userChangePasswordDTO}" method="post">
                <p th:if="${successfullyChanged}" class="text-success" th:text="#{editProfile.successfullyChanged}"/>
                <p th:if="${validationError}" class="text-danger" th:text="#{register.validationError}"/>
                <div class="form-group required">
                    <label th:text="#{changePassword.currentPassword}" class="control-label"/>
                    <input name="oldPassword" class="form-control" type="password" required th:maxlength="150"
                           th:placeholder="#{register.password.placeholder}" th:minlength="8">
                </div>
                <div class="form-group required">
                    <label th:text="#{changePassword.newPassword}" class="control-label"/>
                    <input name="newPassword" class="form-control" type="password" required th:maxlength="150"
                           th:placeholder="#{register.password.placeholder}" th:minlength="8">
                </div>
                <div class="form-group required">
                    <label th:text="#{changePassword.confirmNewPassword}" class="control-label"/>
                    <input name="retypeNewPassword" class="form-control" type="password" required th:maxlength="150"
                           th:placeholder="#{register.password.placeholder}" th:minlength="8">
                </div>
                <br/>
                <button type="submit" class="btn btn-primary btn-block" th:text="#{editProfile.save}"/>
            </form>
        </article>
    </div>
</main>
<div th:include="footer.html"></div>
</body>
</html>