<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:form="http://www.w3.org/1999/xhtml">

<head th:replace="head.html"></head>

<body>

<div th:include="header.html"></div>

<main role="main" class="container" style="width: 40%;">

    <div class="card">
        <article class="card-body">

            <h4 class="card-title text-center mb-4 mt-1" th:text="#{forgotPassword.title}"/>
            <hr>
            <form class="form-group" th:action="@{/forgotPassword}" th:object="${userForgotPasswordDTO}" method="post">
                <p th:if="${validationError}" class="text-danger" th:text="#{register.validationError}"/>
                <p th:if="${userIsAbsent}" class="text-danger" th:text="#{forgotPassword.emailIsAbsent}"/>
                <div class="form-group required">
                    <label th:text="#{register.email}" class="control-label"/>
                    <input name="email" class="form-control" type="email" required th:maxlength="150"
                           th:placeholder="#{register.email.placeholder}" >
                </div>
                <div class="form-group required">
                    <label th:text="#{register.phone}" class="control-label"/>
                    <input name="phone" class="form-control" th:placeholder="#{register.phone.placeholder}" type="text"
                           required th:maxlength="150" pattern="[0-9]{10}">
                </div>
                <br/>
                <button type="submit" class="btn btn-primary btn-block" th:text="#{forgotPassword.sendNewPassword}"/>
                <br/>
                <div class="form-inline justify-content-center">
                    <span th:text="#{register.alreadyHaveAccount}" style="margin-right: 30px;"/>
                    <a th:href="@{/login}" class="btn" th:text="#{login-form.login}"/>
                </div>
            </form>
        </article>
    </div>
</main>
<div th:include="footer.html"></div>
</body>
</html>