<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <a class="navbar-brand" href="/home" th:text="#{title}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-auto">
            <select id="locales" class="form-control">
                <option selected disabled th:text="#{header.lang.change}"></option>
                <option value="en" th:text="#{header.lang.eng}"></option>
                <option value="ru" th:text="#{header.lang.ru}"></option>
            </select>
        </li>
        </ul>

        <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/questionnaire}" th:text="#{header.questionnaire}" />
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/fields}" th:text="#{header.fields}" />
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/responses}" th:text="#{header.responses}" />
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!--<span sec:authentication="name"></span>-->
                    <span th:text="${session.userName}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item"th:href="@{/editProfile}" th:text="#{header.editProfile}"/>
                    <a th:if="!${session.authorizedWithGoogle}" class="dropdown-item" th:href="@{/changePassword}" th:text="#{header.changePassword}"/>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}" th:text="#{header.logout}"/>
                </div>
            </li>
            <li class="nav-item"/>

        </ul>
    </div>
</nav>